@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0; }

header .menu {
  background: #7ba09c; }

header .imgLogo {
  width: 80px;
  height: 80px; }

header .logo {
  font-family: 'Dancing Script';
  font-style: oblique;
  font-size: 5em;
  text-shadow: 0 6px #493633;
  color: #cb997e; }

header .menu_items {
  color: #1fc5b7;
  font-family: 'Teko', Arial, Helvetica;
  font-size: x-large; }

header li a {
  color: #794b33;
  text-decoration: none; }

body {
  background-color: #493633; }
